Isima.InstantMessaging.WcfClient/Service References/ContactServiceReference/ContactService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15260/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Isima.InstantMessaging.WcfService" />
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Isima.InstantMessaging.WcfService" minOccurs="0" name="ListResult" nillable="true" type="q1:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Isima.InstantMessaging.WcfService" minOccurs="0" name="contacts" nillable="true" type="q2:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>